@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf);
}
html,body{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	zoom: 0.90;
	height: 100%;
	width: 100%;
}